body {
    background-color: lightgray;
}
.container{
   
}

.topic{
    background-color: lightsteelblue;
    color: black;
    margin: 1px;
    
}

#topic-form{
    float: right;
}
#add-topic{
    background-color: lightsteelblue;
}

label{
    font-size: 20px;
}